<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TEMP MON - Edit {{data["name"]}}</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/styles.css')}}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/js/dist/bootbox.js')}}"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Temp Mon</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            ENGINEERS
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                {% for engineer in engineers %}
                                <a class="nav-link" href="/engineer?id={{engineer}}">{{engineers[engineer]['name']}}</a>
                                {% endfor %}
                                <a class="nav-link" href="/engineer/">Add Engineer</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-md-3">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-body">Edit Engineer</div>
                                <div class="card-footer d-flex align-items-center justify-content-center">
                                    <form class="form" id="text-config" method="post">
                                        {% for item in data %}
                                        {% if data[item] is boolean %}
                                        <div class="form-check form-switch">
                                            <label class="form-check-label" for="{{item}}">{{item}}</label>
                                            {% if data[item] == True %}
                                            <input class="form-check-input" id="{{item}}" name="{{item}}"
                                                type="checkbox" value="{{data[item]}}" checked>
                                            {% else %}
                                            <input class="form-check-input" id="{{item}}" name="{{item}}"
                                                type="checkbox" value="{{data[item]}}">
                                            {% endif %}
                                        </div>
                                        {% elif data[item] is number %}
                                        <label for="{{item}}">{{item}}</label>
                                        <input class="form-control" id="{{item}}" name="{{item}}" type="number"
                                            value="{{data[item]}}">
                                        {% elif data[item] is string %}
                                        <label for="{{item}}">{{item}}</label>
                                        <input class="form-control" id="{{item}}" name="{{item}}" type="text"
                                            value="{{data[item]}}">
                                        {% endif %}
                                        <br>
                                        {% endfor %}
                                        <button class="btn btn-primary" type="submit">Save</button>
                                        <button id="delete" class="btn btn-danger" type="button">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
            <footer class="py-4 bg-dark mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/js/scripts.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const id = urlParams.get('id')
    function serializeForm() {
        var jsonData = $('test').serializeArray();
        var jsonString = JSON.stringify(jsonData);
        console.log(jsonString)
    }
    $("#delete").click(function () {
        bootbox.confirm("Are you sure you want to delete this user?", async function (result) {
            let res = await fetch(`/engineer/?id=${id}`, {
                method: 'DELETE',
            });
            let responseData = await res.json();
            if (responseData.status == "ok") {
                location.href = '/';
            }
        });
    })
</script>