<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TEMP MON - {{data.get("sensor-name", "Dashboard")}}</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/styles.css')}}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/js/dist/bootbox.js')}}"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Temp Mon</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link" id="test_notif">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Notify Test
                        </a>
                        <a class="nav-link" id="rescan">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Rescan temp devices
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4" style="margin-bottom: 50px;">
                    <div class="row">
                        <div class="col-xl-3 col-md-3">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-body">System Config</div>
                                <div class="card-footer d-flex align-items-center justify-content-center">
                                    <form class="form" id="text-config" method="post" onsubmit="return validateForm()">
                                        {% for item in data %}
                                        {% if item == "ntfy-creds" %}
                                        <label for="{{item}}">{{item}}</label>
                                        <input class="form-control" id="{{item}}" name="{{item}}" type="password"
                                            value="{{data[item]}}">
                                        {% elif data[item] is boolean %}
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <label class="form-check-label" for="{{item}}">{{item}}</label>
                                                {% if data[item] == True %}
                                                <input class="form-check-input" id="{{item}}" name="{{item}}"
                                                    type="checkbox" value="{{data[item]}}" checked>
                                                {% else %}
                                                <input class="form-check-input" id="{{item}}" name="{{item}}"
                                                    type="checkbox" value="{{data[item]}}">
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% elif data[item] is number %}
                                        <label for="{{item}}">{{item}}</label>
                                        <input class="form-control" id="{{item}}" name="{{item}}" type="number"
                                            value="{{data[item]}}" step=".1">
                                        <span class="number" id="{{item}}-div"></span><br>
                                        {% elif item == "vitals-check-in-time" %}
                                        <label for="{{item}}">{{item}}</label>
                                        <input class="form-control" id="{{item}}" name="{{item}}" type="time"
                                            value="{{data[item]}}">
                                        <span class="number" id="{{item}}-div"></span><br>
                                        {% elif data[item] is string %}
                                        <label for="{{item}}">{{item}}</label>
                                        <input class="form-control" id="{{item}}" name="{{item}}" type="text"
                                            value="{{data[item]}}">
                                        {% endif %}
                                        <br>
                                        {% endfor %}
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7">
                        </div>
                        <div id="temp-bg" class="col-xl-2 col-md-2">
                            <div id="temp-container" class="card shadow-lg border-0 rounded-lg mt-5 bg-success"
                                data-lower="{{data['limit-lower-celsius']}}"
                                data-upper="{{data['limit-upper-celsius']}}">
                                <div class="card-body">Temps</div>
                                <div class="card-footer d-flex align-items-center justify-content-center">
                                    <ul style="list-style-type: none">
                                        <li>
                                            <h5 id="current-temp">Current Temp: {{stats["temp"]}} F</h5>
                                        </li>
                                        <li><small id="last-checked">Last Checked:
                                                {{stats["lastChecked"]}}</small></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
            <footer class="py-4 bg-dark mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/js/scripts.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>
<script>
    $(document).ready(function () {
        getTemp();
        $("#limit-upper-celsius-div").html(`(${toF($("#limit-upper-celsius").val())} °F)`);
        $("#limit-lower-celsius-div").html(`(${toF($("#limit-lower-celsius").val())} °F)`);

    })
    $("#test_notif").click(async function () {
        let res = await fetch(`/notify/test/`, {
            method: 'POST',
        });
    });
    $("#rescan").click(async function () {
        let res = await fetch(`/api/rescan`, {
            method: 'POST',
        });
    });
    async function getTemp() {
        setTimeout(function () {
            getTemp();
        }, 60000);
        let res = await fetch(`/api/temp`, {
            method: 'GET',
        });
        let responseData = await res.json();
        if (responseData.status === "ok") {
            console.log(responseData.data)
            $("#current-temp").html(`Current Temp: ${responseData.data.temp} F`);
            $("#last-checked").html(`Last Checked: ${responseData.data.lastChecked}`);
            if (responseData.data.temp > toF(parseInt($("#temp-container").data("lower"))) && responseData.data.temp < toF(parseInt($("#temp-container").data("upper")))) {
                $("#temp-container").addClass("bg-success");
                $("#temp-container").removeClass("bg-danger");
            } else if (responseData.data.temp > toF(parseInt($("#temp-container").data("upper")))) {
                $("#temp-container").addClass("bg-danger");
                $("#temp-container").removeClass("bg-success");
            } else {
                $("#temp-container").removeClass("bg-danger");
                $("#temp-container").removeClass("bg-success");
            }
        } else {
            $("#")
        }
    }
    $("#limit-upper-celsius").keyup(function () {
        $("#limit-upper-celsius-div").html(`(${toF($("#limit-upper-celsius").val())} °F)`);
    })
    $("#limit-lower-celsius").keyup(function () {
        $("#limit-lower-celsius-div").html(`(${toF($("#limit-lower-celsius").val())} °F)`);
    })

    function toF(number) {
        return Math.round((number * 9 / 5) + 32, 1)
    }
    function validateForm() {
        if ($("#limit-lower-celsius").val() < $("#limit-upper-celsius").val()) {
            return true;
        } else {
            bootbox.alert("The value of limit-upper-celsius must be greater than the value of limit-lower-celsius");
            $("#limit-lower-celsius").css("outline", "1px solid red");
            $("#limit-upper-celsius").css("outline", "1px solid red");
            return false;
        }
    }
</script>
<style>
    .number,
    input {
        display: inline-block;
        vertical-align: top;
    }

    table {
        width: 100%;
        border: 1 px solid white;
    }

    .custom-control-input:checked~.custom-control-label::before {
        color: black !important;
        background-color: blueviolet !important;
        border-color: var(--outline) !important;
    }

    .custom-control-label::before {
        background-color: white !important;
        top: calc(-0.2rem);
    }

    .custom-switch .custom-control-label::after {
        top: calc(-0.125rem + 1px);
    }
</style>