<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>
    <link href="{{ url_for('static', filename='assets/css/styles.css')}}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Create Account</h3>
                                </div>
                                <div class="card-body">
                                    <form class="form" id="text-config" method="post">
                                        {% for item in data %}
                                        {% if item == "email" %}
                                        <div style="outline: 1px solid black;">
                                            <h1>EMAIL DETAILS</h1>
                                            {% for email_item in data[item] %}
                                            <label for="{{email_item}}">{{email_item}}</label>
                                            {% if email_item == "api_key" %}
                                            <input id="{{email_item}}" name="{{email_item}}" type="password"
                                                value="{{data[item][email_item]}}">
                                            {% else %}
                                            <input id="{{email_item}}" name="{{email_item}}" type="text"
                                                value="{{data[item][email_item]}}">
                                            {% endif %}
                                            <br>
                                            {% endfor %}
                                        </div>
                                        {% elif data[item] is boolean %}
                                        <label class="form-check-label" for="{{item}}">{{item}}</label>
                                        {% if data[item] == True %}
                                        <input id="{{item}}" name="{{item}}" type="checkbox" value="{{data[item]}}"
                                            checked>
                                        {% else %}
                                        <input id="{{item}}" name="{{item}}" type="checkbox" value="{{data[item]}}">
                                        {% endif %}
                                        {% elif data[item] is number %}
                                        <label for="{{item}}">{{item}}</label>
                                        <input id="{{item}}" name="{{item}}" type="number" value="{{data[item]}}">
                                        {% elif data[item] is string %}
                                        <label for="{{item}}">{{item}}</label>
                                        <input id="{{item}}" name="{{item}}" type="text" value="{{data[item]}}">
                                        {% endif %}
                                        <br>
                                        {% endfor %}
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>

</html>